.estrofe
{
    margin-bottom: 1.42857143em;
}

.coro
{
    font-style: italic;
    margin: 1.42857143em 0;
    margin-left: 1.42857143em;
}

.estrofe:last-child
{
    margin-bottom: 0;
}

dt
{
    margin-top: 1.42857143em;
}

dt:first-child
{
    margin-top: 0;
}
/*
.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
          box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
}

.tt-suggestion p {
  margin: 0;
}
*/