body {
	background: url('09original.gif');
	font-family: Georgia, serif, Helvetica, sans-serif;
	text-align: center;
}

/* CABECALHO */
#cabecalho {
	background: black;
	color: #fff;
	font-family: Helvetica, Arial;
	margin: 1em auto 0 auto;
	overflow: auto;
	text-align: left;
	width: 51em;
}

#cabecalho h1 {
	font-size: 2em;
	line-height: 1em;
	padding: .5em .5em 0 .5em;
}

#cabecalho h2 {
	font-weight: normal;
	padding: 0 1em 1em 1em
}

#cabecalho a {
	text-decoration: none;
	color: white;
}

#cabecalho #menu {
	overflow: auto;
	width: 100%;
}

#cabecalho #menu ul {
	float: left;
	font-weight: bold;
	margin: .5em 0;
	overflow: auto;
}

#cabecalho #menu li {
	float: left;
	line-height: 1.5em;
	margin-left: .8em;
}

#cabecalho #menu form {
	float: right;
	margin: .5em;
}

#cabecalho #menu input {
	background: #fff;
	border: none;
	border: 1px solid #666;
	font-family: Arial;
}

#cabecalho #menu button {
	background: url('magnifier-left.png') no-repeat center center;
	border: none;
	text-indent: -700px;
	width: 16px;
}

/* CONTEۄO */
#conteudo {
	background: white;
	margin: 0 auto 1em auto;
	overflow: hidden;
	text-align: left;
	width: 51em;
}

#conteudo a {
	color: #008D9E;
	font-style: italic;
	text-decoration: none;
}

#conteudo a:hover {
	border-bottom: 1px dotted #000;
}

#conteudo h1 {
	font-weight: normal;
	padding-top: 1.5em;
	width: 100%;
	overflow: hidden;
}

#numero, #titulo {
	font-size: 3em;
	line-height: 1.5em;
}

#numero {
	float: left;
	text-align: right;
	width: 7em;
}

#titulo {
	float: right;
	text-align: left;
	width: 9.5em;
}

/* HINO */

#hino {
	float: right;
	margin-bottom: 1.5em;
	width: 30em;
}

#hino p {
	line-height: 1.5em;
	margin: 0 1.5em 1.5em 1.5em;
}

#texto {
	margin: 0 1.5em;
}

#texto ul li {
	line-height: 1.5em;
}

#texto li ul {
	padding-bottom: 1.5em;
}

#texto li ul.coro {
	font-style: italic;
	padding-left: 1.5em;
}

#texto span.voz {
	color: #999;
	display: block;
	width: 7em;
	float: left;
}

#texto .coro span.voz {
	color: #999;
	float: none;
display: inline;
}

#cifra {
	margin: 0 1.5em;
	display: none;
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.5em;
}

#cifra ul {
	margin-bottom: 1.5em;
}

.cifra_coro {
	padding-left: 1.5em;
	margin-top: 1.5em;
}

#ocultar {
	display: none;
}

/* COMPLEMENTO */
#info {
	float: left;
	margin: 1.5em 0;
	text-align: right;
	width: 21em;
}

#info ul {
	padding-right: 1.5em;
}

#info ul li {
	line-height: 1.5em;
}

#info ul ul {
	padding-right: .75em;
	padding-bottom: 1.5em;
}

#info ul ul li {
	line-height: 1.5em;
}

#info li li {
	padding: 0;
}

#info .sel {
	margin-right: -.75em;
}

/* INDICE  */
#indice_dinamico, #indice_estatico {
	margin: 1.5em;
}

#indice_dinamico a {
font-style: normal;
	color: #000;
}

.expandir {
	color: #008D9E!important;
}

#indice_dinamico a:hover {

}

#indice_dinamico span {
	font-family: monospace;
}


#indice_dinamico li {
	line-height: 1.5em;
	list-style-type: none;
	margin-left: 2em;
}

#indice_dinamico li ul {
	display: none;
}

#indice_dinamico li li {
	list-style-type: none;
}

#indice_dinamico li li li {
	line-height: 1.5em;
	list-style-type: none;
	margin-left: 1.5em;
}

#indice_dinamico li li li a {
	font-family: Georgia, serif, Helvetica, sans-serif;
font-style: italic;
	color: #008D9E;
}

#indice_dinamico li li li a:hover {
	border-bottom: 1px dotted black;
}

#indice_estatico li span {
	font-weight: bold;
}

#indice_estatico li {
	line-height: 1.5em;
}

#indice_estatico li li {
	margin-left: 2em;
}

#navegacao_alfa {
	margin: 1.5em;
	overflow: auto;
	width: 100%;
}

#navegacao_alfa li {
	float: left;
	line-height: 1.5em;
	margin-right: .3em;
}

/* ATUALIZAȃO */
#atualizacao {
	background: #D8E7FF;
	padding: 1em 0;
	text-align: center;
}

#atualizacao ul {
	margin: 0 auto;
	text-align: left;
	width: 23em;
}

#atualizacao li {
	font-size: .8em;
	line-height: 1.5em;
}

#atualizacao p {
	text-align: center;
	font-size: .8em;
	margin-right: 1em;
	line-height: 2em;
	padding-bottom: .5em;
}

#progresso {
	background: white;
	border: 1px solid #999;
	padding: 2px;
	position: relative;
	width: 97%;
	overflow: auto;
}

#progresso div {
	background: #5dc1cf;
	color: white;
	float: left;
	height: 1.7em;
	line-height: 1.7em;
	position: relative;
	text-align: center;
}

#progresso div:first-child {
	background: #008D9E!important;
}

#link_historico {
	border-top: 1px solid #999;
	text-align: right;
}

/* FORMULARIO CONTATO */
#hino form {
	margin: 1.5em;
}

#hino label {
	display: block;
	line-height: 1.5em;
}

#hino textarea {
	font-family: sans-serif;
	font-size: .7em;
}

#hino br {
	margin-bottom: 1.5em;
}

#info p {
	margin: 1.5em;
	line-height: 1.5em
}

#hino p.notificacao {
	background: #008D9E;
	color: white;
	line-height: 1.5em;
	margin-top: 1.5em;
	text-align: center;
}

#hino p.erro {
	background: #f00;
}

/* OUTROS */
#resultado_busca {
	margin: 1.5em;
}

/* ARTIGOS */
#artigos {
	margin: 1.5em;
}

#artigos h2 {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1em;
	margin: 0 1em;
}

#artigos h3 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	line-height: 1.5em;
	margin: 0 1.5em;
}

#artigos h4 {
	margin: 1.5em;
	line-height: 1.5em;
}

#artigos blockquote {
	margin: 1.5em 3em;
	line-height: 1.5em;
	font-style: italic;
}

#artigos p {
	margin: 1.5em;
	line-height: 1.5em;
}

#artigos ul li {
	line-height: 1.5em;
	margin: 0 1.5em 1.5em 1.5em;
}

#artigos ul br {
	margin: 0;
}

#artigos ul li blockquote {
	font-style: italic;
	margin-left: .75em;
	font-size: .8em;
}

#artigos #texto ul li {
	line-height: 1.5em;
	margin: 0;
}

/* RODAPɠ*/
#rodape {
	border-top: 1px solid #000;
	clear: both;
	font-size: .8em;
	line-height: 2.5em;
	margin: 0em 5em;
	text-align: center;
}
